.movies__list {
  list-style: none;
  display: grid;
  grid-gap: 31px 20px;
  grid-template-columns: repeat(4, 1fr);
  padding: 70px 70px 30px 70px;
}

.movies__more {
  padding: 50px 0 80px 0;
}

.movies__more_disabled {
  padding: 50px 0 89px 0;
}

.movies__more-button {
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 6px;
  background-color: #F4F4F4;
  padding: 10px 0 10px 0;
  margin: 0 auto;
  display: block;
  border: none;
  min-width: 320px;
}

.movies__more-button_disabled {
  display: none;
}

@media screen and (max-width: 1024px) {
  .movies__list {
    grid-gap: 35px 29px;
    grid-template-columns: repeat(3, 1fr);
    padding: 110px 30px 30px 30px;
  }
}

@media screen and (max-width: 768px) {
  .movies__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .movies__list {
    grid-gap: 19px 29px;
    padding: 40px 10px 30px 10px;
  }
}

@media screen and (max-width: 500px) {
  .movies__list {
    grid-template-columns: repeat(1, 1fr);
  }
}