.profile {
  min-height: 100vh;
  padding-bottom: 70px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.profile__greeting {
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 74px 0 0 0;
}

.profile__data-container {
  max-width: 410px;
  width: 100%;
  margin: 123px auto 0 auto;
}

.profile__data-field {
  display: flex;
  justify-content: space-between;
}

.profile__data-label {
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.profile__data-input, .profile__data-input:disabled {
  color: #000;
  text-align: right;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  padding: 0;
  background-color: transparent;
}

.profile__data-divider {
  height: 1px;
  background-color: #E8E8E8;
  margin: 16px 0 17px 0;
}

.profile__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 50px;
  justify-content: flex-end;
  flex-grow: 1;
}

.profile__button {
  background-color: transparent;
  border-right: none;
  padding: 0;
  text-align: center;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
}

.profile__button_exit {
  color: #EE3465;
}

@media screen and (max-width: 768px) {
  .profile {
    padding-bottom: 269px;
  }

  .profile__greeting {
    margin: 236px 0 0 0;
  }

  .profile__data-container {
    margin: 96px auto 0 auto;
  }

  .profile__buttons {
    margin-top: 210px;
  }
}

@media screen and (max-width: 500px) {
  .profile__data-container {
    padding: 0 30px;
    box-sizing: border-box;
    margin: 81px auto 0 auto;
  }

  .profile__greeting {
    margin: 69px 0 0 0;
  }

  .profile__buttons {
    margin-top: 379px;
  }

  .profile__button {
    font-size: 12px;
  }

  .profile {
    padding-bottom: 40px;
  }
}