.promo {
  background-color: #dddee3;
  padding: 82px 0 122px 0;
}

.promo__title {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 116%;
  letter-spacing: -2px;
  max-width: 730px;
  margin: 0 auto;
  background-image: url(../../images/promo-image.png);
  background-size: 320px 320px;
  background-position: center;
  min-height: 320px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .promo {
    background-color: #dddee3;
    padding: 224px 0 240px 0;
  }
}

@media screen and (max-width: 700px) {

  .promo__title {
    font-size: 31px;
    margin: 0 10px;
    background-size: 250px 250px;
    line-height: 125.806%;
    letter-spacing: -1.24px;

  }
}

@media screen and (max-width: 500px) {
  .promo {
    padding: 108px 0 142px 0;
  }
}
