.promo {
  background-color: #DDDEE3;
  padding: 82px 0 122px 0;
}

.promo__title {
  text-align: center;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 116%;
  letter-spacing: -2px;
  max-width: 730px;
  text-align: center;
  margin: 0 auto;
  background-image: url(../../images/promo-image.png);
  background-size: 320px 320px;
  background-position: center;
  min-height: 320px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .promo {
    background-color: #DDDEE3;
    padding: 224px 0 240px 0;
  }
}
