.app {
  position: relative;
}

.container {
  max-width: 1280px;
  box-sizing: border-box;
  padding: 0 70px;
  margin: 0 auto;
}

.hover {
  transition: all 0.4s linear;
  cursor: pointer;
}

.hover_type_link:hover {
  opacity: 70%;
}

.hover_type_button:hover {
  opacity: 80%;
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 0 50px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: 0 18px;
  }
}