.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation_type_main {
  width: auto;
  margin-left: auto;
}

.navigation_type_sidebar {
  flex-direction: column;
  height: 100%;
}

.navigation__list {
  list-style: none;
  display: flex;
  gap: 17px;
  padding: 0;
  margin: 0;
  align-items: center;
  width: 100%;
}
.navigation__list_type_main {
  gap: 30px;
}

.navigation__list_type_sidebar {
  flex-direction: column;
  gap: 28px;
}

.navigation__item_type_sidebar:first-child {
  display: block;
}

.navigation__item_type_header:first-child {
  display: none;
}

.navigation__link {
  text-decoration: none;
  text-align: right;
  font-family: Inter;
  font-style: normal;
}

.navigation__link_type_register {
  color: #000;
  font-size: 12px;
  line-height: 133.333%;
  font-weight: 500;
}

.navigation__link_type_login {
  color: #fff;
  padding: 8px 20px;
  border-radius: 3px;
  background: #3456F3;
  font-size: 12px;
  line-height: 133.333%;
  font-weight: 500;
}

.navigation__link_type_header {
  color: #000;
  font-size: 13px;
  font-weight: 400;
  line-height: 138.462%;
}

.navigation__link_type_sidebar {
  color: #000;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 6px;
}

.navigation__link_type_header.active {
  font-weight: 500;
}

.navigation__link_type_sidebar.active {
  padding-bottom: 6px;
  border-bottom: 2px solid #000;
  font-weight: 500;
}

.navigation__button {
  border-radius: 50px;
  border: 2px solid rgba(170, 170, 170, 0.2);
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 8px 12px;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  line-height: 114.286%;
  background-color: transparent;
  font-family: Inter;
}

.navigation__button:before {
  content: "";
  width: 12px;
  height: 14px;
  background-image: url(../../images/profile-link-icon.svg);
  background-size: cover;
  display: block;
}

@media screen and (max-width: 768px) {
  .navigation_type_header {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .navigation__list_type_main {
    gap: 14px;
  }

  .navigation__link_type_register {
    font-size: 10px;
    line-height: 160%;
  }

  .navigation__link_type_login {
    padding: 7px 12px;
    font-size: 10px;
    line-height: 160%;
  }
}