.search__form {
  border-radius: 9px;
  background: #FFF;
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
  display: flex;
  padding: 16px 30px 16px 19px;
  align-items: center;
  margin-top: 70px;
}

.search__form-fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  width: 100%;
}

.search__icon {
  background-image: url(../../images/search-input-icon.svg);
  background-size: cover;
  min-width: 34px;
  height: 34px;
  margin-right: 9px;
}

.search__input {
  display: block;
  width: 100%;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 111.111%;
  border: none;
  margin-right: 46px;
}

.search__input:focus-visible {
  outline: none;
}

.search__input::placeholder {
  color: #A0A0A0;
}

.search__button {
  background-image: url(../../images/serch-button-icon.svg);
  background-size: cover;
  min-width: 34px;
  height: 34px;
  border: none;
  padding: 0;
  background-color: transparent;
}

.search__form-divider {
  background-color: #CBCBCB;
  height: 40px;
  width: 1px;
  margin: 0 31px 0 19px;
}

.search__divider {
  background-color: #E8E8E8;
  height: 1px;
  margin: 69px 0 10px 0;
}

@media screen and (max-width: 1024px) {
  .search {
    padding: 0 30px;
  }

  .search__form {
    margin-top: 80px;
    padding: 16px 21px 16px 19px;
  }

  .search__form-divider {
    margin: 0 21px 0 19px;
  }
}

@media screen and (max-width: 600px) {
  .search {
    padding: 0 10px;
  }

  .search__divider {
    margin: 46px 0 10px 0;
  }

  .search__form {
    flex-direction: column;
    padding: 0;
    border-right: none;
    background-color: transparent;
    box-shadow: none;
  }

  .search__form-fieldset {
    padding: 19px;
    border-radius: 9px;
    background-color: #FFF;
    box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
    margin-bottom: 45px;
    box-sizing: border-box;
  }

  .search__icon {
    display: none;
  }

  .search__form-divider {
    display: none;
  }

  .search__input {
    font-size: 14px;
    line-height: 142.857%;
  }
}
