.header {
  padding: 18px 70px;
  display: flex;
  align-items: center;
  gap: 44px;
  width: 100%;
}

.header__logo {
  background-image: url(../../images/header-logo.svg);
  display: block;
  background-size: cover;
  min-width: 38px;
  height: 38px;
}

.header__burger-menu {
  display: none;
  background-image: url(../../images/burger-menu.svg);
  background-size: cover;
  width: 28px;
  height: 23px;
  border: none;
  padding: 0;
  background-color: transparent;
  margin-left: auto;
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 18px 30px;
  }
}

@media screen and (max-width: 768px) {
  .header__burger-menu {
    display: block;
    margin-right: 8px;
  }
}

@media screen and (max-width: 600px) {
  .header {
    padding: 18px 14px;
  }
}