.sidebar {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  display: flex;
  justify-content: flex-end;
  visibility: hidden;
  transition: visibility 1s linear;
}

.sidebar_open {
  visibility: visible;
}

.sidebar__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 30%);
}

.sidebar__container {
  position: relative;
  z-index: 1;
  max-width: 520px;
  width: 100%;
  height: 100%;
  right: -100%;
  background-color: #FAFAFA;
  padding: 159px 0 90px 0;
  box-sizing: border-box;
  transition: right 1s linear;
}

.sidebar__container_open {
  right: 0;
}

.sidebar__close-button {
  background-image: url(../../images/close-button.svg);
  width: 22px;
  height: 22px;
  transform: rotate(-45deg);
  background-size: cover;
  position: absolute;
  top: 22px;
  right: 22px;
  border: none;
  background-color: transparent;
}