.register {
  max-width: 536px;
  padding-top: 70px;
  padding-bottom: 70px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.register__logo {
  width: 38px;
  height: 38px;
  background-image: url(../../images/header-logo.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.register__greeting {
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 40px 0 0 0;
}

.register__form {
  margin-top: 40px;
  display: flex;
  gap: 24px;
  flex-direction: column;
  flex-grow: 1;
}

.register__label {
  color: #A0A0A0;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.register__input {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: block;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #E8E8E8;
  padding: 0 0 10px 0;
  margin-top: 5px;
}

.register__input:focus-visible {
  border-bottom: 1px solid #3456F3;
  outline: none;
}

.register__input:invalid {
  color: #EE3465;
}

.register__error {
  position: absolute;
  color: #EE3465;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 6px;
}

.register__button {
  border-radius: 3px;
  background-color: #3456F3;
  width: 100%;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  padding: 13px 0 15px 0;
}

.register__text {
  text-align: center;
  margin: 16px 0 0 0;
  color: #A0A0A0;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.register__link {
  color: #3456F3;
  text-decoration: none;
}

.register__fieldset {
  padding: 0;
  border: none;
  display: flex;
  gap: 24px;
  flex-direction: column;
  flex-grow: 1;
}