.footer {
  background-color: #F8F8F8;
  padding: 79px 0 20px 0;
}

.footer__title {
  color: #A0A0A0;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin: 0;
}

.footer__info {
  display: flex;
  gap: 20px;
  margin-top: 41px;
}

.footer__year {
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 auto 0 0;
}

.footer__link {
  color: #000;
  text-align: right;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  .footer__container {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media screen and (max-width: 600px) {
  .footer__info {
    flex-direction: column;
    align-items: center;
    margin-top: 53px;
    gap: 12px;
  }

  .footer__year {
    margin: 18px 0 0 0;
    order: 1;
    font-size: 12px;
  }

  .footer__title {
    font-size: 12px;
  }

  .footer__container {
    padding-right: 10px;
    padding-left: 10px;
  }

  .footer__link {
    font-size: 12px;
    display: block;
  }
}
