.techs {
  background-color: #F5F5F5;
  padding: 100px 0;
}

.techs__title {
  text-align: center;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 116%;
  letter-spacing: -2px;
  margin: 90px 0 0 0;
}

.techs__subtitle {
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.56px;
  margin: 26px auto 0 auto;
  max-width: 460px;
}

.techs__list {
  list-style: none;
  padding: 0;
  margin: 100px 0 0 0;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.techs__list-item {
  max-width: 90px;
  width: 100%;
  min-height: 60px;
  border-radius: 10px;
  background-color: #E8E8E8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.56px;
}

@media screen and (max-width: 1024px) {
  .techs {
    padding: 90px 0;
  }

  .techs__title {
    margin: 80px 0 0 0;
  }

  .techs__subtitle {
    font-size: 12px;
    line-height: 150%;
    letter-spacing: -0.48px;
    margin: 22px auto 0 auto;
  }

  .techs__list {
    padding: 0 10px;
    margin: 83px 0 0 0;
  }

  .techs__list-item {
    font-size: 12px;
    letter-spacing: -0.48px;
  }
}

@media screen and (max-width: 600px) {
  .techs {
    padding: 70px 0;
  }

  .techs__title {
    font-size: 30px;
    letter-spacing: -1.2px;
    margin: 62px 0 0 0;
  }

  .techs__subtitle {
    font-size: 11px;
    line-height: 145.455%;
    letter-spacing: -0.44px;
    margin: 25px auto 0 auto;
  }

  .techs__list {
    display: grid;
    grid-gap: 10px;
    margin: 48px 0 0 0;
    grid-gap: 10px;
    grid-template-rows: repeat(auto-fill, auto);
    grid-template-columns: repeat(auto-fill, 84px);
  }

  .techs__list-item {
    width: 100%;
    min-height: 57px;
  }
}