.about-me {
  background-color: #FAFAFA;
  padding: 110px 0 50px 0;
}

.about-me__info {
  display: flex;
  justify-content: space-between;
  margin-top: 67px;
}

.about-me__text {
  max-width: 599px;
  display: flex;
  flex-direction: column;
}

.about-me__name {
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 116%;
  letter-spacing: -2px;
  margin: 0;
}

.about-me__data {
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 111.111%;
  margin: 19px 0 0 0;
}

.about-me__description {
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 157.143%;
  margin: 26px 0 0 0;
}

.about-me__github {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  margin-top: auto;
}

.about-me__photo {
  max-width: 270px;
  border-radius: 10px;
}

@media screen and (max-width: 1024px) {
  .about-me {
    padding: 90px 0 50px 0;
  }

  .about-me__info {
    gap: 50px;
  }

  .about-me__name {
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -1.6px;
  }

  .about-me__data {
    font-size: 12px;
    line-height: 150%;
    margin: 13px 0 0 0;
  }

  .about-me__description {
    font-size: 12px;
    line-height: 150%;
    margin: 20px 0 0 0;
  }

  .about-me__photo {
    max-width: 255px;
    aspect-ratio: 255/304;
  }
}


@media  screen and (max-width: 600px) {
  .about-me {
    padding: 72px 0 35px 0;
  }

  .about-me__info {
    flex-direction: column-reverse;
    margin-top: 60px;
    gap: 43px;
  }

  .about-me__container {
    padding: 0 14px;
  }

  .about-me__photo {
    max-width: none;
    aspect-ratio: 292/352;
  }

  .about-me__name {
    font-size: 30px;
    letter-spacing: -1.2px;
  }

  .about-me__data {
    font-size: 11px;
    line-height: 145.455%;
    margin: 24px 0 0 0;
  }

  .about-me__description {
    font-size: 11px;
    line-height: 145.455%;
  }

  .about-me__github {
    font-size: 14px;
    margin-top: 40px;
  }
}