.nav-tab {
  background: #f5f5f5;
  padding: 24px 0;
}

.nav-tab__tabs {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.nav-tab__link {
  color: #000;
  font-family: "Inter", ‘Arial’, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 123.077%;
  text-decoration: underline;
}

@media screen and (max-width: 320px) {
  .nav-tab__link {
    font-size: 11px;
    line-height: 145.455%;
  }

  .nav-tab__tabs {
    gap: 24px;
  }
}